@model HotelProject.Models.Worker

@{
    ViewData["Title"] = "Login";
}
<hr />
<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h1>כניסת עובד</h1>

        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerId" class="control-label"></label>
                <input asp-for="WorkerId" class="form-control" type="password" />
                <span asp-validation-for="WorkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="התחבר" class="btn btn-warning" />
            </div>
            @if (ViewData["Error1"] != null)
            {
                <div style="color:red; font-weight:bold">@ViewData["Error1"]</div>
            }
            @if (ViewData["Error"] != null)
            {
                <div style="color:red; font-weight:bold">@ViewData["Error"]</div>
            }
        </form>
    </div>
</div>
<div>
    <a asp-action="Create">להרשמה לחץ כאן</a>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/Workers.css" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
