@model HotelProject.Models.Worker

@{
    ViewData["Title"] = "ManagerPage";
}

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h1>דף מנהל</h1>
        <br />
        <div>
            <a asp-action="Index">לחץ כאן לרשימת ועריכת העובדים</a>
        </div>
        <br />
        <div>
            <a asp-controller="Orders" asp-action="Index">לחץ כאן לרשימת ועריכת ההזמנות</a>
        </div>
        </br>
        <div>
            <a asp-controller="RoomTypes" asp-action="Create"> לחץ כאן ליצירת סוג חדר חדש</a>
        </div>
        <br />
        <div>
            <a asp-controller="Clients" asp-action="Index"> לחץ כאן לרשימת הלקוחות הקיימים</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>




@section Css{
    <link rel="stylesheet" href="~/css/Workers.css" />
}


