@model HotelProject.Models.Order
@{
    ViewData["Title"] = "Payment";
}



<div class="container">
    <div class="row">

        <div class="col-sm-12 col-xs-12 col-md-2">
            <h1> פרטי ההזמנה</h1>
            <p>
                <label>Ralon hotel <br></label>
                <label>תאריך הגעה 10/10/10</label>

                <label>20/20/10</label>
                <label>מספר חדרים</label>
                <label>מספר לילות</label>
                <label>חדר 23</label>
                <label>2 מבוגרים</label>
                <label>סוויטת דלקס עם נוף מלא לים</label>
                <label>לינה וארוחת בוקר</label>
                <label>מחיר: 1,377 ₪</label>
            </p>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-5">
            <h1>פרטי האורח</h1>
            <form method="POST">
                <ul>
                    <li>
                        <label for="id">תעודת זהות*</label><br>
                        <input type="text" id="id">
                    </li>
                    <li>
                        <label for="firstName">שם פרטי*</label><br>
                        <input type="text" id="firstName">
                    </li>
                    <li>
                        <label for="lastName">שם משפחה*</label><br>
                        <input type="text" id="lastName">
                    </li>
                    <li>
                        <label for="mail">אימייל*</label><br>
                        <input type="email" id="mail">
                    </li>
                    <li>
                        <label for="telPhone">טלפון*</label><br>
                        <input type="text" id="telPhone">
                    </li>

                </ul>
            </form>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-5">
            <h1>פרטי תשלום</h1>
            <form>
                <ul>
                    <li>
                        <label for="ticketNumber">מספר כרטיס</label><br>
                        <input type="text" id="ticketNumber">
                    </li>
                    <li>
                        <label for="creditValidity">תוקף כרטיס אשראי</label><br>
                        <input type="text" id="creditValidity">
                    </li>
                    <li>
                        <label for="cvv">3</label>
                        <label>ספרות אחרונות בגב הכרטיס </label><br>
                        <input type="text" id="cvv">
                    </li>
                    <li>
                        <label for="idCredit">תעודת זהות של בעל הכרטיס</label><br>
                        <input type="text" id="idCredit">
                    </li>
                    <li>
                        <label for="numberPayment">מספר תשלומים</label><br>
                        <input type="text" id="numberPayment">
                    </li>
                    <br>
                    <br>
                </ul>
            </form>
            <button id="btn_invite" type="button" class="btn btn-outline-warning">הזמן</button>
        </div>

    </div>
</div>