
@{
    ViewData["Title"] = "Payment";
}



<div class="container">
    <div class="row">

        <div class="col-sm-12 col-xs-12 col-md-2">
            <h1> פרטי ההזמנה</h1>
            <p>
                <label>Ralon hotel <br></label>
                <label>תאריך הגעה 10/10/10</label>
                <label>20/20/10</label>
                <label>מספר חדרים</label>
                <label>מספר לילות</label>
                <label>חדר 23</label>
                <label>2 מבוגרים</label>
                <label>סוויטת דלקס עם נוף מלא לים</label>
                <label>לינה וארוחת בוקר</label>
                <label>מחיר: 1,377 ₪</label>
            </p>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-5">
            <h1>פרטי האורח</h1>
            <form>
                <ul>
                    <li>
                        <label>שם פרטי*</label><br>
                        <input type="text">
                    </li>
                    <li>
                        <label>שם משפחה*</label><br>
                        <input type="text">
                    </li>
                    <li>
                        <label>אימייל*</label><br>
                        <input type="email">
                    </li>
                    <li>
                        <label>טלפון*</label><br>
                        <input type="text">
                    </li>
                    <li>
                        <label>הערות</label><br>
                        <input type="text">
                    </li>
                </ul>
            </form>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-5">
            <h1>פרטי תשלום</h1>
            <form>
                <ul>
                    <li>
                        <label>מספר כרטיס</label><br>
                        <input type="text">
                    </li>
                    <li>
                        <label>תוקף כרטיס אשראי</label><br>
                        <input type="text">
                    </li>
                    <li>
                        <label>3</label>
                        <label>ספרות אחרונות בגב הכרטיס </label><br>
                        <input type="text">
                    </li>
                    <li>
                        <label>תעודת זהות של בעל הכרטיס</label><br>
                        <input type="text">
                    </li>
                    <li>
                        <label>מספר תשלומים</label><br>
                        <input type="text">
                    </li>
                    <br>
                    <br>
                </ul>
            </form>
            <button id="btn_invite" type="button" class="btn btn-outline-warning">הזמן</button>
        </div>

    </div>
</div>