@model HotelProject.Models.RoomType

@{
    ViewData["Title"] = "הוספת סוג חדר";
}


<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h1>הוסף סוג חדר</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraBeds" class="control-label"></label>
                <input asp-for="ExtraBeds" class="form-control" />
                <span asp-validation-for="ExtraBeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="View" class="control-label"></label>
                <input asp-for="View" class="form-control" />
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.IsBalcony)
                    &nbsp;
                    <input class="form-check-input" asp-for="IsBalcony" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BasicPrice" class="control-label"></label>
                <input asp-for="BasicPrice" class="form-control" />
                <span asp-validation-for="BasicPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="צור" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">חזור לרשימת חדרים</a>
</div>


<a asp-controller="Workers" asp-action="ManagerPage">חזרה לדף מנהל</a>
@section Css{
    <link rel="stylesheet" href="~/css/Workers.css" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
