* {
    color: rgb(188,148,26);
}

.aboutBody {
    text-align: center;
     /*background-color: white;*/
}

.aboutTitle {
    color: gold;
    margin-top: 2%;
    margin-bottom: 1%;
}

/*.aboutP {
    text-align: right;
    margin-right: 0%;
    direction: rtl;
}*/
