
* {
    color: rgb(188,148,26);
}
.no-gutters {
    margin-right: 3%;
    margin-left: 3%;
}

.right {
    text-align: right;
}
/*
.mb-3, .my-3 {
    margin-top: 1rem;
}*/
.col-md-6 {
    background-color: rgb(28,28,28);
}
.card-title {
    font-weight: bold;
    font-size: 20px;
}
.title {
    text-align: center;
    margin: 12 px;
    font-size: 48px;
}

.centertext {
    text-align: center;
}

/*header {
    padding: 8px,16px;
    height: 30;
    background-color: white;
}*/

.b {
    font-weight: bold;
}

.fsize {
    font-size: 18px;
}

/*.fs {
    font-size: 48px;
}*/

.mbb {
    margin-top: 5rem;
}
