
.paymentBody > * {
    text-align: center;
    background-color: white;
}

.paymentBody {
    background-color: white;
    margin-top: 20px;
    direction: rtl;
    position: center;
    color: rgb(177, 154, 28);
}

.paymentTitle {
    color: gold;
    text-decoration: underline;
}
.btn-outline-warning {
    color: black;
}
.btn {
    padding: 25px;
    background-color: gold;
    ;
}

.btn-primary {
    color: black;
    background-color: gold;
    border-color: black;
}

.btn-warning:hover {
    background-color: gold important !;
}

#btn_invite {
    width: 50%;
    text-align: center;
    margin-left: 20%;
    margin-right: 30%;
}

.list {
    list-style: none;
}
