@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1 class="aboutTitle"> אודות המלון </h1>
<div class="container aboutBody">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7">
            <p DIR="RTL" >
            <p>.אצלנו תוכלו למצוא מגוון סוויטות מרווחות, מעוצבות ע"י מיטב המעצבים </p>
            <p>.הסוויטות כוללות חללים מרווחים, מרפסות מפנקות, סלון ומטבחון </p>
            <p>.במלון ספא מפנק, הנבחר לאחד מעשרות בתי הספא הטובים בארץ</p>
            <p>.קיימת בו בריכה חצי אולימפית מרווחת הכוללת בריכה פעוטות מקורה</p>
            <p>עוד במלון חדר כושר,משחקייה מאובזרת לילדים ומתבגרים, מסעדות שף ושלל מתחמי אירועים</p>
            <p>.כל אלו ועוד אינספור פינוקים ייחודים ומיוחדים ,יהפכו כל חופשה במלון למושלמת</p>
            <p>.אם אתם מחפשים מלון יוקרתי וכשר במרכז הארץ על חוף הים ,שמתאים למשפחות וזוגות</p>
            <p>.או רוצים לחגוג אירוע בלתי נשכח</p>
            <p>:)נשמח לארח אתכם </p>
            </p>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5">
            <a data-lightbox="image-1" data-title="Ralon Hotel" href="~/img/outhotel.jpeg"><img src="~/img/outhotel.jpeg" width="100%" alt="out hotel"></a>

        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/css/aboutUs.css" />
}