@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="title fs"> כנסים ואירועים</div>
    <div class="centertext b fsize">
        במלון מבחר אולמות מפוארים בגדלים שונים
    </div>
    <div class="centertext b fsize">
        .אשר ניתן לערוך בהם אירועים וכנסים עד 2,000 משתתפים
    </div>
</div>
<div class="centertext b fsize">
    אנו כאן, עומדים לשירותכם עם השפים הטובים ביותר
</div>
<div class="centertext b fsize">
    .שיגשימו יחד איתכם את החלומות שלכם ויהפכו
    אותם
    למציאות
</div>

<div class="card mb-3 mbb" ;>
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="~/img/qnBqEMzb.jpeg" class="card-img" width="100%" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title right">גן ברקת</h5>
                <p class="card-text right fsize">
                    גן ברקת הגדול שלנו מתאים בקלות ליותר מ -1000 אורחים ומשתתפים. הגן מרהיב בגודלו ,מתמזג עם עיצוב האירוע לתוצאה מושלמת ואלגנטית.
                </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" ;>
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title right">גן שוהם</h5>
                <p class="card-text right fsize">בגן שוהם תוכלו לערוך אירוע בוטיק יוקרתי עם הסטנדרטים הגבוהים שיש רק בראלון.</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/img/ulam.jpeg" class="card-img" alt="...">
        </div>
    </div>
</div>
<div class="card mb-3" ;>
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="~/img/אוכל.jpeg"class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title right">אולם יהלום</h5>
                <p class="card-text right fsize">
                    אולם יהלום מתאים לאירועים גדולים חתונות, בר מצוות וכו' אשר יכול להכיל עד 2000
                    משתתפים   
                </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" ;>
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title right">חדר ראלון</h5>
                <p class="card-text right fsize">חדר ראלון זמין לכנסים גדולים וקטנים עם השילוב המושלם של חדר קלאסי עם טכנולוגיה מתקדמת.   </p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/img/OAs6PcLV.jpeg " class="card-img" alt="...">
        </div>
    </div>
</div>
<!--<div class="card mb-3" ;>
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="~/images/hotelimg/8lQm8Bmw.jpeg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title right">אולם ספיר</h5>
                <p class="card-text right fsize">אולם ספיר מתאים לאירוח, כנסים, תערוכות, ימי עיון ועוד…האולם פונה לטרקלין רחב ידיים המאפשר להתאים את הצרכים השונים של הלקוחות המעוניינים באירוח עם קבלת פנים נפרדת.   </p>-->
<!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
<!--</div>
        </div>
    </div>
</div>-->
@section Css{
    <link rel="stylesheet" href="~/css/events.css" />
}