@{
    ViewData["Title"] = "Home Page";
}
<div class="container service">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">

            <h3>ספא</h3>
            <img src="~/img/NAnPdQDf.jpeg" width="300" height="200">
            <h3>פעילויות לילדים</h3>
            <img src="~/img/2hO-sExw.jpeg" width="300" height="200">



        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">

            <h3>בריכה פנימית</h3>
            <img src="~/img/fUm5NUOa.jpeg" width="300" height="200">
            <h3>מסעדות וחנויות</h3>
            <img src="~/img/osZMUKZk.jpeg" width="300" height="200">


        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">

            <h3>בריכה חיצונית</h3>
            <img src="~/img/GFvRG3zQ.jpeg" width="300" height="200">
            <h3>מכון כושר</h3>
            <img src="~/img/nDr3b6_0.jpeg" width="300" height="200">
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/css/Exstaservices.css" />
}