@{
    ViewData["Title"] = "Home Page";
}





<div class="container service">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-4">

            <h3>ספא</h3>
            <a data-lightbox="image-1" data-title="ספא" href="~/img/NAnPdQDf.jpeg"><img src="~/img/NAnPdQDf.jpeg" width="350px" height="200px" /></a>


            <h3>פעילויות לילדים</h3>
            <a data-lightbox="image-1" data-title="פעילויות לילדים" href="~/img/2hO-sExw.jpeg"><img src="~/img/2hO-sExw.jpeg" width="350px" height="200px" /></a>




        </div>
        <div class="col-md-6 col-sm-12 col-lg-4">

            <h3>בריכה פנימית</h3>
            <a data-lightbox="image-1" data-title="בריכה פנימית" href="~/img/fUm5NUOa.jpeg"><img src="~/img/fUm5NUOa.jpeg" width="350px" height="200px" /></a>

            <h3>מסעדות וחנויות</h3>
            <a data-lightbox="image-1" data-title="מסעדות וחנויות" href="~/img/osZMUKZk.jpeg"><img src="~/img/osZMUKZk.jpeg" width="350px" height="200px" /></a>

        </div>
        <div class="col-md-6 col-sm-12 col-lg-4">

            <h3>בריכה חיצונית</h3>
            <a data-lightbox="image-1" data-title="בריכה חיצונית" href="~/img/GFvRG3zQ.jpeg"><img src="~/img/GFvRG3zQ.jpeg" width="350px" height="200px" /></a>

            <h3>מכון כושר</h3>
            <a data-lightbox="image-1" data-title="מכון כושר" href="~/img/nDr3b6_0.jpeg"><img src="~/img/nDr3b6_0.jpeg" width="350px" height="200px" /></a>

        </div>
    </div>
</div>



@section Css{
    <link rel="stylesheet" href="~/css/Exstaservices.css" />
}


