@model HotelProject.Models.Order
@{
    ViewData["Title"] = "הזמן חופשה";
}

<div class="container-fluid container-sm" style="direction: rtl;">
    <form class="form-inline searchEngine" asp-action="Search" onsubmit="validateSearchParams(event)">
        <div>
            <label asp-for="FromDate">תאריך הגעה</label>
            <input asp-for="FromDate" id="FromDate" type="date" class="form-control mb-2 mr-sm-2" onchange="disableToDates();">
        </div>
        <div>
            <label asp-for="ToDate">תאריך עזיבה</label>
            <input asp-for="ToDate" id="ToDate" type="date" class="form-control mb-2 mr-sm-2">
        </div>
        <div>
            <label asp-for="NumOfAdults">מספר מבוגרים</label>
            <div>
                <div class="value-button" id="increase1" onclick="increaseValue(1)" value="Increase Value">+</div>
                <input asp-for="NumOfAdults" type="number" class="number" id="number1" value="0" />
                <div class="value-button" id="decrease1" onclick="decreaseValue(1)" value="Decrease Value">-</div>
            </div>
        </div>
        <div>
            <label asp-for="NumOfKids">מספר ילדים</label>
            <div>
                <div class="value-button" id="increase2" onclick="increaseValue(2)" value="Increase Value">+</div>
                <input asp-for="NumOfKids" type="number" class="number" id="number2" value="0" />
                <div class="value-button" id="decrease2" onclick="decreaseValue(2)" value="Decrease Value">-</div>
            </div>
        </div>
        <div>
            <label asp-for="NumOfInfants">מספר תינוקות</label>
            <div>
                <div class="value-button" id="increase3" onclick="increaseValue(3)" value="Increase Value">+</div>
                <input asp-for="NumOfInfants" type="number" class="number" id="number3" value="0" />
                <div class="value-button" id="decrease3" onclick="decreaseValue(3)" value="Decrease Value">-</div>
            </div>
        </div>
        <button id="serachBtn" type="submit" class="btn btn-outline-warning mb-2 mr-sm-2">חפש</button>
        @if(ViewBag.EnterDetails!= null)
        {
            <h4>@ViewBag.EnterDetails</h4>
        }
    </form>
    @Html.Partial("_slideshow")
    @if (ViewBag.NoRoomFound != null)
    {
        <p>@ViewBag.NoRoomFound</p>
    }
</div>
<script>
    function validateSearchParams(e) {
        var isValid = false;
        //isValid = $('#FromDate').value >= new Date();
        isValid = $('#number1').value > 0;
        debugger;
        if (!isValid) e.preventDefault;
    }

    function increaseValue(id) {
        var value = parseInt(document.getElementById('number' + id).value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number' + id).value = value;
    }

    function decreaseValue(id) {
        var value = parseInt(document.getElementById('number' + id).value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number' + id).value = value;
    }

    function disableToDates() {
        var fromDate = $('FromDate').value;
        $('ToDate').datepicker({
            minDate: fromDate
        });
    }
    var date = new Date();
    date.setDate(date.getDate());

    $(document).ready(function () {
        $('FromDate').datepicker({
            minDate: date            
        });
    });
</script>

@section Css{
    <link href="~/css/searchEngine.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/slideshow.css" />
}
@section Js{
    <script src="~/js/slideshow.js"></script>
}
