@model Dictionary<HotelProject.Models.RoomType, int>

@{
    ViewData["Title"] = "SearchResults";
}
<form asp-action="RedirectToPayment">
    @foreach (var room in Model)
    {
      
        <div class="card mb-3 mbb">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../@room.Key.ImgUrl" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title right">@room.Key.Name</h5>
                        <p class="card-text right fsize">
                            @room.Key.Desc
                        </p>
                        <a asp-controller="Home" asp-action="RedirectToPayment" asp-route-id="@room.Key.Id" type="submit" class="btn btn-outline-warning">
                            הזמן
                            עכשיו
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</form>

